# Virtual environment
venv/
.venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

staticfiles/
/fr/
/media/
# IDE
.vscode/
.idea/
/utils/update_redis.py
# Environment variables
.env
.env.local

# macOS
.DS_Store

# Миграции (можно исключить, но осторожно!)
migrations/