# Virtual environment
venv/
.venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

staticfiles/
/media/
# IDE
.vscode/
.idea/
/utils/update_redis.py
# Environment variables
.env
.env.local

# macOS
*.DS_Store
*.xlsx
*.duckdb
*.csv
   
# Миграции (можно исключить, но осторожно!)
